body
{
    font-family: arial;
}
.ui-corner-top, .ui-corner-all, .ui-corner-left, .ui-corner-right
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
}

.colorpicker
{
    z-index: 9999;
}
#editor
{
    border: 0px solid gray;
}
#toolbar_1
{
    display: none;
}
html, body
{
    margin: 0; /* Remove body margin/padding */
    padding: 0;
    overflow: hidden; /* Remove scroll bars on browser window */
}
#header
{
    padding: 0em;
}
#MySplitter
{
    min-width: 200px; /* Splitter can't be too thin ... */
    height: 100%;
    width: 100%;
}
#LeftPane
{
    float: left;
    display: inline-block;
}
#RightPane
{
    width: 299px;
    float: left;
    display: inline-block;
    border-left: 1px solid lightgray;
}
#TopPane
{
    /* Top nested in right pane */
    height: 150px; /* Initial height */
    min-height: 75px; /* Minimum height */
    overflow: none;
}
#BottomPane
{
    min-height: 100px;
}
.frameHolder
{
    width: auto;
    height: auto;
    margin: 0px;
    border: 0px solid lightgray;
}
#MySplitter .hsplitbar
{
    height: 5px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: whitesmoke;
}
#MySplitter .hsplitbar.active, #MySplitter .hsplitbar:hover
{
    background: #AAAAAA url(hgrabber.gif) no-repeat center;
}
#MySplitter .vsplitbar
{
    width: 5px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    background-color: whitesmoke;
}
#MySplitter .vsplitbar.active, #MySplitter .hsplitbar:hover
{
    background: #AAAAAA url(hgrabber.gif) no-repeat center;
}
.ui-tabs
{
    font-family: Arial;
    font-size: 12px;
    border-bottom-color: #ffffff;
}
#tabs.ui-widget-content
{
    background-color: transparent;
    border-width: 0px;
    background-image: url();
}
.ui-widget-header
{
    background-color: transparent;
    border-width: 0px;
    background-image: url();
}
.ui-widget-content .ui-state-active
{
    background-color: #ffffff;
    background-image: url();
}
.ui-tabs .ui-tabs-nav LI A
{
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
.toolbar
{
    width: auto;
    height: 23px;
    background-color: ivory;
    border-bottom: 1px solid lightgray;
    padding: 5px;
}
.NavBtn
{
    background-image: url('../images/bkGray.png');
    background-repeat: repeat-x;
    border: 1px solid #cecece;
    padding: 4px 15px 5px 25px;
    font-weight: bold;
    font-size: 10px;
}
.NavBtn:hover
{
    color: #ffffff;
    border: 1px solid lightgray;
    background: url('../images/bkBlue1.png') #5295d6 repeat-x;
    padding: 4px 15px 4px 25px;
    font-weight: bold;
    font-size: 10px;
}
.NavBtnImg
{
    background-image: url('../images/bkGray.png');
    background-repeat: repeat-x;
    border: 1px solid #cecece;
    padding: 4px 15px 4px 5px;
    font-size: 10px;
    margin-right: 5px;
}
.NavBtnImg:hover
{
    border: 1px solid lightgray;
    background: url('../images/bkBlue1.png') #5295d6 repeat-x;
    padding: 4px 15px 4px 5px;
    font-size: 10px;
    margin-right: 5px;
}
a
{
    text-decoration: none;
    font-family: arial;
    color: #000000;
}
.ui-tabs .ui-tabs-panel, .ui-tabs
{
    padding: 1px 0px 0px 0px;
}

#pg1
{
    overflow: auto;
}
#propertyGridContainer
{
    width: auto;
    font-size: 11px;
    font-family: arial;
}
.pgGroup
{
    width: auto;
    background-color: #C1D2EE;
    height: 20px;
    cursor: pointer;
    border-bottom: 1px solid #EAEBED;
}
.pgGroupShrink
{
    width: auto;
    display: inline-block;
    width: 17px;
    height: 20px;
    top: -3px;
}
.pgGroupText
{
    font-weight: bold;
    display: inline-block;
    padding: 2px 0px 0px 5px;
    font-size: 12px;
}

.pgSubGroup
{
    width: auto;
    background-color: #EAEBED;
    height: 20px;
    padding: 0px;
    cursor: pointer;
}
.pgSubGroupShrink
{
    width: 17px;
    display: inline-block;
    margin-left: 17px;
    height: 20px;
}
.pgSubGroupText
{
    font-weight: bold;
    display: inline-block;
    padding: 2px 0px 0px 5px;
    font-size: 11px;
}

.pgGroupItem
{
    width: auto;
    height: 20px;
    padding: 0px 0px 0px 7px;
    border-left: 17px solid lightgray;
    border-bottom: 1px solid #EAEBED;
}
.pgGroupItemText
{
    padding-top: 3px;
    display: inline-block;
    width: auto;
}

.bkExpand
{
    background-image: url('../images/plusSmall.png');
    background-repeat: no-repeat;
    background-position: 2px 1px;
    cursor: pointer;
}
.bkMinimise
{
    background-image: url('../images/minusSmall.png');
    background-repeat: no-repeat;
    background-position: 2px 1px;
    cursor: pointer;
}

.bkExpandSub
{
    background-image: url('../images/plusSmall.png');
    background-repeat: no-repeat;
    background-position: 2px 1px;
    cursor: pointer;
}
.bkMinimiseSub
{
    background-image: url('../images/minusSmall.png');
    background-repeat: no-repeat;
    background-position: 2px 1px;
    cursor: pointer;
}

.pgInputHolder
{
    float: right;
    width: auto;
    display: block;
    border-left: 1px dotted lightgray;
}
.pgInput
{
    width: 100px;
    border-width: 0px;
    height: 18px;
    background-color: whitesmoke;
    padding: 2px 0px 0px 2px;
}
.pgInputColor
{
    width: 79px;
    border-width: 0px;
    height: 18px;
    background-color: whitesmoke;
    padding: 2px 0px 0px 2px;
}
.pgInputDrop
{
    width: 102px;
    border-width: 0px;
    height: 20px;
    background-color: whitesmoke;
    padding: 2px 0px 0px 2px;
    outline: none;
    border: none;
    border-color: transparent;
}
.pgInputNum
{
    width: 100px;
    border-width: 0px;
    height: 18px;
    background-color: whitesmoke;
    padding: 2px 0px 0px 2px;
}
/*.pgBtnColor*/
/*{*/
    /*width: 20px;*/
    /*height: 18px;*/
    /*float: right;*/
    /*padding: 2px 0px 0px 0px;*/
    /*border-left: 1px solid #eaebed;*/
    /*background-image: url('../image/bkCpicker.png');*/
    /*background-repeat: no-repeat;*/
    /*cursor: pointer;*/
/*}*/
.ui-widget
{
    border: 1px solid lightgray;
    background-color: #ffffff;
    background: url();
}
.ui-widget-content
{
    background-color: #ffffff;
    background: url();
}
.ui-dialog
{
    font-size: 11px;
    background-color: #ffffff;
}
.ui-dialog .ui-widget-header
{
    background: url('../images/bkBlue1.png') #5295d6 repeat-x;
}
.ui-dialog-title
{
    color: #ffffff;
}
.ui-dialog-buttonpane
{
    border-color: lightgray;
}
.ui-dialog
{
    margin-left: auto;
    margin-right: auto;
}
#downloadPanel
{
    font-size: 11px;
    border-bottom: 1px solid #d3d3d3;
}
#downloadPanelHeader
{
    width: auto;
    font-weight: bold;
    padding: 5px;
    background: url('../images/bkBlue1.png') #5295d6 repeat-x;
    color: #ffffff;
    font-size: 12px;
}
#downloadPanelHeader .ui-progressbar
{
    background-color: #ffffff;
    height: 25px;
    border: 1px solid #ffffff;
}
.ui-progressbar-value
{
    background: url('../images/grBk.png') #99cc00 repeat-x;
}
#downloadPanelHeader .ui-widget-header
{
    border: 0px solid #ffffff;
}
#info
{
    font-style: italic;
}
#tab_browsing_list
{
    height: auto;
}

#tab_browsing_list a b, #tab_browsing_list a
{
    border-bottom: 0px solid #d3d3d3;
    padding: 2px 1px 1px 1px;
}
#tab_browsing_list a span img
{
    margin-left: 20px;
    border: 3px solid transparent;
}
#tab_browsing_list a span
{
    border-top: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    background-color: whitesmoke;
    color: #606060;
    padding-left: 2px;
    padding-right: 2px;
    font-family: monospace;
    font-size: 9pt;
}
#tab_browsing_list .selected a span
{
    border-top: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    padding: 2px 1px 1px 1px;
    background-color: #fffff0;
    font-family: monospace;
    font-size: 9pt;
    background: url('../images/bkBlue1.png') #5295d6 repeat-x;
    color: #ffffff;
}
#tab_browsing_area
{
    background-color: #ffffff;
    border-bottom: 1px solid #5295d6;
    border-top: 0px solid #d3d3d3;
    min-height: 27px;
}
#tab_browsing_list a
{
    padding-bottom: 0px;
}
.pgGroup
{
    background: url('../images/bkBlue1.png') #5295d6 repeat-x;
    color: #ffffff;
}

.popUpAC
{
    position: absolute;
    display: none;
    min-width: 150px;
    height: 180px;
    background-color: ivory;
    border: 1px solid lightgray;
    overflow: auto;
    font-family: arial;
    font-size: 12px;
    z-index: 1000;
}
.ACList
{
    width: 100%;
    height: 100%;
    border: 0px solid #ffffff;
    background-color: ivory;
}

.ui-progressbar .ui-progressbar-value
{
    margin: 0px;
}
#openDialouge
{
    padding: 5px 5px 2px 5px;
}
#ui-dialog-title-dialog-message
{
    padding-left: 25px;
    left: -10px;
    background: url('../images/fromweb.png') no-repeat 0px -2px;
}
#ui-dialog-title-dialog-csstidy
{
    padding-left: 25px;
    left: -10px;
    background: url('../images/tidy.png') no-repeat 0px -2px;
}
