/* Use for base page*/
/*override on foundation*/
@font-face {
    font-family: 'Droid Arabic Naskh';
    font-style: normal;
    font-weight: 400;
    src: url(../font/DroidNaskh-Regular.eot);
    src: url(../font/DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'),
    url(../font/DroidNaskh-Regular.woff2) format('woff2'),
    url(../font/DroidNaskh-Regular.woff) format('woff'),
    url(../font/DroidNaskh-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Droid Arabic Naskh';
    font-style: normal;
    font-weight: 700;
    src: url(../font/DroidNaskh-Bold.eot);
    src: url(../font/DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'),
    url(../font/DroidNaskh-Bold.woff2) format('woff2'),
    url(../font/DroidNaskh-Bold.woff) format('woff'),
    url(../font/DroidNaskh-Bold.ttf) format('truetype');
}

/*Goodle material design fonts*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
/*Goodle material design fonts*/


html, body {
    font-family: 'Droid Arabic Naskh', serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    color: #9c9c9c;
}

[class*="column"] + [class*="column"]:last-child {
    float: right;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

/*override on foundation ended.*/

#s-header {
    height: 110px;
    background: rgba(203, 230, 243, 1);/*#ffffff*/
    padding-top: 20px;
}

@media (max-width: 550px) {
    #s-header {
        height: 120px !important;
    }
}

#s-logo {
    display: -moz-inline-box;
}

#s-header > .row {
    position: relative;
}

#s-header-tabs {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    z-index: 10;
    min-height: 100px;
    background: #ffffff;
}

#s-header-tabs .tabs {
    align-content: center;
    text-align: center;
    border-bottom: solid 1px #999999;
    height: 60px;
}

#s-header-tabs .tabs dd {
    position: relative;
    display: inline-block;
    margin: 0 40px;
    height: 60px;
    float: none;
}

#s-header-tabs .tabs dd a {
    background-color: transparent;
    font-size: 1.14rem;
    line-height: 60px;
}

#s-header-tabs .tabs dd a:hover, #s-header-tabs .tabs dd.active a {
    background-color: transparent;
    color: #12a79b;
}

#s-header-tabs .tabs dd > .arrow {
    display: none;
    position: absolute;
    right: 20%;
    top: 59px;
    background: url("../img/login_header_back.jpg");
    height: 13px;
    width: 30px;
}

#s-header-tabs .tabs dd.active > .arrow {
    display: block;
}

#s-header-tabs .tabs-content {
    margin-top: 3.5rem;
}

#s-header-tabs-close {
    float: left;
    font-size: 20px;
    margin-left: 20px;
    line-height: 60px;
}

.s-signup-succeed-icon {
    color: #66cc33;
    text-align: center;
    font-size: 130px;
    line-height: 1em;
}

.s-signup-succeed-text {
    color: #12a79b;
    text-align: center;
    font-size: 1.214rem;
    line-height: 1.214rem;
}

#s-header-nav {
    /*margin-top: 20px;*/
    position: relative;
}

#s-header-nav li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}

#s-navigation {
    position: relative;
    border-top: solid #95b4c8 1px;
    background: #e2f1ee;
    border-bottom: solid #cfcfcf 1px;
    /*height: 60px;*/
}

#s-navigation nav ul,
#s-navigation nav li {
    list-style: none;
    margin: 0;
}

#s-navigation nav ul li {
    display: inline-block;
    color: #663366 !important;
    line-height: 60px;
    padding: 0 14px;
    margin: 0 0 0 5px;
}

#s-navigation nav ul li:hover {
    background: #5bc3cc;
}

#s-navigation nav ul li > ul {
    display: none;
    background: #5bc3cc;
    position: absolute;
    line-height: 55px;
    right: 0;
    left: 0;
    z-index: 99;
    border-bottom: solid 5px #437492;
    text-align: center;
}

#s-navigation nav ul li:hover > ul {
    display: block;
}

#s-navigation nav ul li ul a {
    color: #ffffff !important;
}

#s-navigation nav ul li ul li:hover {
    background: #437492;
}

#s-navigation nav ul li > ul.pull-left {
    right: auto;
    left: 0;
}

#s-navigation .search {
    position: relative;
}

#s-navigation .search form {
    padding: 0;
    margin: 0;
}

#s-navigation .search ul {
    width: 300px;
    padding: 0;
}

#s-navigation .search input, #s-navigation .search input {
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: transparent;
    border: none;
    font-size: 1em;
    font-family: inherit;
    margin: 0;
    padding: 0.5em;
    display: block;
    color: #000000;
    width: 100%;
}

#s-map {
    width: 100%;
    height: 270px;
   /* background: url(../img/map.jpg) no-repeat;*/
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-top: -590px;
    position: relative;
}

#s-contact {
    padding: 10px;
    margin-top: 45px;
    background: rgba(244, 202, 87, 0.9);
    border: #000 2px;
}

#s-contact-focus {
    padding: 10px;
    margin-top: 45px;
    background: #f6f6f6;
    display: none;
}

#s-write {
    position: relative;
}

/*#s-content {*/
/*padding: 15px 0;*/
/*}*/

#s-footer {
    width: 100%;
    height: 320px;
    background-color: #437492;
    position: relative;
    padding-top: 70px;
    margin-top: -170px;
}


@media (max-width: 640px) {
    #s-footer {
        padding-top: 0 !important;
        height: 365px;
        margin-top: -365px;
    }
}

.map-layout #s-footer {
    margin-top: 0;
}


#s-footer .line {
    position: absolute;
    height: 1px;
    background-color: #33cccc;
    top: 180px;
    left: 0;
    right: 0;
}

#s-footer .logo img {
    display: inline-block;
    margin-top: -10px;
}

#s-footer .copyright {
    padding-top: 20px;
    color: #ffffff;
}

#s-footer .socials a {
    font-size: 2em;
    margin: 0 15px;
    color: #ffffff;
}

#s-footer .links {
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
}

#s-footer .links a {
    margin: 0 15px;
    color: #ffffff;
}

#s-wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 370px;
}

.map-layout #s-wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 592px;
}

@media (max-width: 640px) {
    #s-wrapper {
        padding-bottom: 365px;
    }

    .map-layout #s-wrapper {
        padding-bottom: 592px;
    }
}

.s-footer-logo {
    text-align: center;
}

.green-basket {
    color: #66cc33;
}

.basket-icon-text {
    color: #437492;
}

.count-on-basket {
    font-size: 10px;
    color: #ffff00;
    position: absolute;
    top: -11px;
    left: 14px;
    z-index: 3;
}

.count-on-basket-bg {
    position: absolute;
    top: -15px;
    width: 25px;
    left: 3px;
    z-index: 2;
}


/* ///////////////////////////////// my-panel ////////////////////////////// */
.my-panel {
    display: table;
    height: 100%;
    width: 98%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    /*border: #87e0ff 1px solid;*/
    border: rgba(115, 177, 204, 0.8) 1px solid;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

}

.my-panel .my-panel-header {
    padding: .5em .2em;
    display: table-row;
    background-color: rgba(115, 177, 204, 0.8);
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

/*.my-panel .my-panel-body > div {
    height: 100%;
    position: relative;
}
.my-panel-body > div > div {
    overflow: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}*/

.my-panel .my-panel-title {
   /* margin-top: 0;
    margin-bottom: 0;*/
    padding: .4em 2em;
    font-size: 16px;
    color: inherit;
}

.my-panel .my-panel-body {
    display: table-row;
    padding: 15px;
}

.my-panel .my-panel-footer {
    display: table-row;
    padding: 10px 15px;
    background-color: rgba(115, 177, 204, 0.8);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/* ///////////////////////////////// nodeInfo ////////////////////////////// */
.node-info {
    border: 1px solid #c3cbcb;
    max-width: 100%;
}
.node-text {

}
.node-title {
    font-weight: bold;
    font-size: 12pt;
}
.node-stats {
    padding: 0;
    display: inline-block;
    overflow: visible;
}

.node-stats dl {
    float: right;
    display: block;
    margin-left: 5px;
}

.pairs-inline dl,
.pairs-inline dt,
.pairs-inline dd
{
    display: inline;
}

.pairs-inline dt {
    color: rgb(150,150,150);
}
.pairs-inline dd {
    font-weight: bold;
}

.primary-content a {
    color: #176093;
}


/**/
.node .node-last-post {
    border: 1px solid #ddd;
    position: relative;
    top: 50%;
    transform: translateY(+30%);
}

.secondary-content a {
    color: #176093;
    float: right;
}

.node .node-last-post .last-thread-title
{
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    overflow: hidden;
}

.node .node-last-post .last-thread-meta
{
    display: block;
}

.node .node-last-post .last-thread-title {
    padding-left: 3px;
}

@media (min-width:900px) {
    .node .node-last-post .last-thread-meta {
        padding-left: 29px;
    }

    .node .node-last-post .last-thread-title {
        padding-left: 3px;
    }
}

abbr, acronym {
    border: 0;
    font-variant: normal;
    text-decoration: none;
}
body .muted, body a.muted, body .muted a { color: rgb(150,150,150); }