
body {
    font-family: arial;
}
.ui-corner-top, .ui-corner-all, .ui-corner-left, .ui-corner-right {
}
.colorpicker {
    z-index: 9999;
}
#editor {
    border: 0 solid gray;
}
#toolbar_1 {
    display: none;
}
html, body {
    margin: 0;
    /*overflow: auto;*/
    padding: 0;
}
#header {
    padding: 0;
}
#MySplitter {
    height: 100%;
    min-width: 200px;
    width: 100%;
}
#LeftPane {
    display: inline-block;
    float: left;
}
#RightPane {
    border-left: 1px solid lightgray;
    display: inline-block;
    float: left;
    width: 299px;
}
#TopPane {
    height: 150px;
    min-height: 75px;
}
#BottomPane {
    min-height: 100px;
}
.frameHolder {
    border: 0 solid lightgray;
    height: auto;
    margin: 0;
    width: auto;
}
#MySplitter .hsplitbar {
    background-color: whitesmoke;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    height: 5px;
}
/*url("hgrabber.gif")*/
#MySplitter .hsplitbar.active, #MySplitter .hsplitbar:hover {
    background: #aaaaaa  no-repeat scroll center center;
}
#MySplitter .vsplitbar {
    background-color: whitesmoke;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    width: 5px;
}
/*url("hgrabber.gif")*/
#MySplitter .vsplitbar.active, #MySplitter .hsplitbar:hover {
    background: #aaaaaa no-repeat scroll center center;
}
.ui-tabs {
    border-bottom-color: #ffffff;
    font-family: Arial;
    font-size: 12px;
}
#tabs.ui-widget-content {
    background-color: transparent;
    background-image: url("");
    border-width: 0;
}
.ui-widget-header {
    background-color: transparent;
    background-image: url("");
    border-width: 0;
}
.ui-widget-content .ui-state-active {
    background-color: #ffffff;
    background-image: url("");
}
.ui-tabs .ui-tabs-nav LI A {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}
.toolbar {
    background-color: ivory;
    border-bottom: 1px solid lightgray;
    height: 23px;
    padding: 5px;
    width: auto;
}
.NavBtn {
    background-color: grey;
    background-repeat: repeat-x;
    border: 1px solid #cecece;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 15px 5px 25px;
}
.NavBtn:hover {
    background-color: #5295d6;
    border: 1px solid lightgray;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 15px 4px 25px;
}
.NavBtnImg {
    background-color: grey;
    background-repeat: repeat-x;
    border: 1px solid #cecece;
    font-size: 10px;
    margin-right: 5px;
    padding: 4px 15px 4px 5px;
}
.NavBtnImg:hover {
    background-color: #5295d6;
    border: 1px solid lightgray;
    font-size: 10px;
    margin-right: 5px;
    padding: 4px 15px 4px 5px;
}
a {
    color: #000000;
    font-family: arial;
    text-decoration: none;
}
.ui-tabs .ui-tabs-panel, .ui-tabs {
    padding: 1px 0 0;
}
#pg1 {
    overflow: auto;
    height: 200px;
}
#propertyGridContainer {
    font-family: arial;
    font-size: 11px;
    width: auto;
}
.pgGroup {
    background-color: #c1d2ee;
    border-bottom: 1px solid #eaebed;
    cursor: pointer;
    height: 20px;
    width: auto;
}
.pgGroupShrink {
    display: inline-block;
    height: 20px;
    top: -3px;
    width: 17px;
}
.pgGroupText {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 0 0 5px;
}
.pgSubGroup {
    background-color: #eaebed;
    cursor: pointer;
    height: 20px;
    padding: 0;
    width: auto;
}
.pgSubGroupShrink {
    display: inline-block;
    height: 20px;
    margin-left: 17px;
    width: 17px;
}
.pgSubGroupText {
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 0 0 5px;
}
.pgGroupItem {
    border-bottom: 1px solid #eaebed;
    border-left: 17px solid lightgray;
    height: 20px;
    padding: 0 0 0 7px;
    width: auto;
}
.pgGroupItemText {
    display: inline-block;
    padding-top: 3px;
    width: auto;
}
/*plusSmall*/
.bkExpand {
    background-color: #d3d3d3;
    background-position: 2px 1px;
    background-repeat: no-repeat;
    cursor: pointer;
}
/*// minusSmall*/
.bkMinimise {
    background-color: #d3d3d3;
    background-position: 2px 1px;
    background-repeat: no-repeat;
    cursor: pointer;
}
/*//plusSmall*/
.bkExpandSub {
    background-color: #d3d3d3;
    background-position: 2px 1px;
    background-repeat: no-repeat;
    cursor: pointer;
}
/*// minusSmall*/
.bkMinimiseSub {
    background-color: #d3d3d3;
    background-position: 2px 1px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.pgInputHolder {
    border-left: 1px dotted lightgray;
    display: block;
    float: right;
    width: auto;
}
.pgInput {
    background-color: whitesmoke;
    border-width: 0;
    height: 18px;
    padding: 2px 0 0 2px;
    width: 100px;
}
.pgInputColor {
    background-color: whitesmoke;
    border-width: 0;
    height: 18px;
    padding: 2px 0 0 2px;
    width: 79px;
}
.pgInputDrop {
    background-color: whitesmoke;
    border: medium none transparent;
    height: 20px;
    outline: medium none;
    padding: 2px 0 0 2px;
    width: 102px;
}
.pgInputNum {
    background-color: whitesmoke;
    border-width: 0;
    height: 18px;
    padding: 2px 0 0 2px;
    width: 100px;
}
.pgBtnColor {
    background-color: #5295d6;
    background-repeat: no-repeat;
    border-left: 1px solid #eaebed;
    cursor: pointer;
    float: right;
    height: 18px;
    padding: 2px 0 0;
    width: 20px;
}
.ui-widget {
    background: rgba(0, 0, 0, 0) url("") repeat scroll 0 0;
    border: 1px solid lightgray;
}
.ui-widget-content {
    background: rgba(0, 0, 0, 0) url("") repeat scroll 0 0;
}
.ui-dialog {
    background-color: #ffffff;
    font-size: 11px;
}
.ui-dialog .ui-widget-header {
    background-color: #5295d6 ;
}
.ui-dialog-title {
    color: #ffffff;
}
.ui-dialog-buttonpane {
    border-color: lightgray;
}
.ui-dialog {
    margin-left: auto;
    margin-right: auto;
}
#downloadPanel {
    border-bottom: 1px solid #d3d3d3;
    font-size: 11px;
}
#downloadPanelHeader {
    background-color: #5295d6;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    width: auto;
}
#downloadPanelHeader .ui-progressbar {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    height: 25px;
}
.ui-progressbar-value {
    background-color: #99cc00;
}
#downloadPanelHeader .ui-widget-header {
    border: 0 solid #ffffff;
}
#info {
    font-style: italic;
}
#tab_browsing_list {
    height: auto;
}
#tab_browsing_list a b, #tab_browsing_list a {
    border-bottom: 0 solid #d3d3d3;
    padding: 2px 1px 1px;
}
#tab_browsing_list a span img {
    border: 3px solid transparent;
    margin-left: 20px;
}
#tab_browsing_list a span {
    background-color: whitesmoke;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    color: #606060;
    font-family: monospace;
    font-size: 9pt;
    padding-left: 2px;
    padding-right: 2px;
}
#tab_browsing_list .selected a span {
    background-color: #0e90d2;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    color: #ffffff;
    font-family: monospace;
    font-size: 9pt;
    padding: 2px 1px 1px;
}
#tab_browsing_area {
    background-color: #ffffff;
    border-bottom: 1px solid #5295d6;
    border-top: 0 solid #d3d3d3;
    min-height: 27px;
}
#tab_browsing_list a {
    padding-bottom: 0;
}
.pgGroup {
    background-color: #5295d6;
    color: #ffffff;
}
.popUpAC {
    background-color: ivory;
    border: 1px solid lightgray;
    display: none;
    font-family: arial;
    font-size: 12px;
    height: 180px;
    min-width: 150px;
    overflow: auto;
    position: absolute;
    z-index: 1000;
}
.ACList {
    background-color: ivory;
    border: 0 solid #ffffff;
    height: 100%;
    width: 100%;
}
.ui-progressbar .ui-progressbar-value {
    margin: 0;
}
#openDialouge {
    padding: 5px 5px 2px;
}
#ui-dialog-title-dialog-message {
    background-color: #1f6377;
    left: -10px;
    padding-left: 25px;
}
#ui-dialog-title-dialog-csstidy {
    background-color: #2b542c;
    left: -10px;
    padding-left: 25px;
}
