INPUT.spinbox-active {
	background-repeat:no-repeat;
	background-position:right 0px;
	background-image:url(../image/spinbox-sprite.png);
}
INPUT.spinbox-active.spinbox-up-hover {
	background-position:right -20px;
	cursor:pointer;
}
INPUT.spinbox-active.spinbox-down-hover {
	background-position:right -40px;
	cursor:pointer;
}
INPUT.spinbox-active.spinbox-up {
	background-position:right -80px;
	cursor:pointer;
}
INPUT.spinbox-active.spinbox-down {
	background-position:right -60px;
	cursor:pointer;
}